@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Nunito:wght@300&family=Open+Sans&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

.container {
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.header{
    margin-top: 15px;
    width: 100%;
    height: 100%;
}

.row{
    margin-left: -11px;
    margin-right: -69px;
}

body {
    background: url('/images/mainscr.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*height: 3240px;*/
    height: 3190px;
    width: 1920px;
    /*height: auto;*/
    /*background: no-repeat center center;*/
}

.logo-text > a {
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    text-decoration: none;
    color: white;
}

.main-nav ul {
    display: flex;
    list-style: none;
    margin-top: 2.5rem;
}

.main-nav a {
    text-decoration: none;
    padding: 1rem;
    color: white;
}

.main-nav a:hover {
    color: #adadad;
    text-decoration-line: underline;
}

.main-title {
    width: 100%;
    height: 600px;
    font-family: 'Open Sans', sans-serif;
    font-size: 62px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-left: 174px;
    margin-bottom: -124px;
    flex-direction: column;
}

.main-title > div {
    margin-top: 275px;
}

.search{
    align-items: center;
    background: white;
    border-radius: 22px;
    margin: 0 auto;
    box-shadow: rgb(0 0 0 / 17%) 0 6px 12px 0;
    width: 100%;
}
.search-field{
    padding: -1em;
    font-family: 'Nunito', sans-serif;
    margin-right: -45px;
    margin-bottom: -14px;
}

#where-to-go{
    border: none;
    appearance: none;
    outline: none;
    width: 100%;
    font-size: 1.2em;
    line-height: 1.2em;
    margin-top: 15px;
    cursor: pointer;
}

#start{
    border: none;
    appearance: none;
    outline: none;
    font-size: 1.2em;
    line-height: 1.2em;
    margin-top: -3px;
    padding: 1px 30px 1px 10px;
}

.col-sm-3>label{
    padding-left: 10px;
}

#end{
    border: none;
    appearance: none;
    outline: none;
    font-size: 1.2em;
    line-height: 1.2em;
    padding: 1px 47px 1px 10px;
}

.search-button {
    display: inline-block;
    flex-grow: 1;
    height: 50px;
    /*padding: 0 5em;*/
    text-align: center;
    font-size: 1.2em;
    font-weight: 100;
    border: 0;
    border-radius: 20px;
    color: black;
    background-color: #F8A170;
    transition: background-color 0.8s ease;
    flex-direction: column;
    width: 109%;
    box-shadow: 0 10px 40px 0 #F8A17033;
    line-height: 2.5em;
    cursor: pointer;
}

.search-button:hover {
    background-color: HSLA(30, 96%, 49%, 1.00);
}

.second-page-title{
    width: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 62px;
    align-items: flex-start;
    letter-spacing: -0.02em;
    margin-top: 355px;
    margin-left: auto;
    padding-top: 100px;
    justify-content: center;
    display:flex;
    margin-bottom: 33px;
    padding-bottom: 55px;
}

.col-12 :nth-child(2) {
    font-size: 30px;
    margin-left: -34px;
}

.second-page-content {
    display: flex;
    justify-content: center;
}

.second-page-content div {
    height: 544px;
    margin: 36px;
    width: auto;
    cursor: pointer;
}

div [id ^='second-page'] > img {
    width: 406px;
    height: 429px;
}

.second-page-button {
    display:flex;
    float: none;
    width: auto;
    flex-direction: row;
    justify-content: center;
    margin-top: -78px;

}

.btn-on-second-page{
    font-size: 1.2em;
    font-weight: 100;
    border: 0;
    border-radius: 20px;
    color: black;
    background-color: #F8A170;
    transition: background-color 0.8s ease;
    box-shadow: 0 10px 40px 0 #F8A17033;
    line-height: 2.5em;
    cursor: pointer;
    width: 280px;
}

.why-page-title{
    width: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 62px;
    color: white;
    align-items: flex-start;
    letter-spacing: -0.02em;
    margin-top: auto;
    margin-left: auto;
    padding-top: 100px;
    justify-content: center;
    display:flex;
    margin-bottom: 33px;
    padding-bottom: 23px;
}
.why-page-title > div {
    width: 499px;
}

.why-we-page{
    display:flex;
    margin-top: -163px;
    justify-content: center;
    margin-left: -23px;
}

.why-we-page > div{
    width: 418px;
    margin: 50px;
}

.why-we-page > div > div{
    width: auto;
    margin: 50px;
}

.contacts-page-content {
    display: flex;
    margin-top: -35px;
}

#contacts-page-column1{
    margin: -59px 161px 0 -106px;
}

#contacts-page-column1 >h3{
    font-family: 'Dancing Script', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 84px;
    position: static;
    width: 274px;
    height: 84px;
    justify-content: left;
    margin-bottom: 45px;
}

#contacts-page-column1 >p {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 33px;
    position: sticky;
    width: 374px;
    left: calc(50% - 451px/2 - 628.5px);
}

#contacts-page-column2{
    margin: -33px 57px 0 16px;
}

#contacts-page-column2 >h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 54px;
    position: sticky;
    width: 246px;
    height: 54px;
    margin-top: 71px;
    margin-left: 4px;
}

#contacts-page-column1 >p {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    line-height: 33px;
    position: sticky;
    width: 374px;
}

#contacts-page-column2 p {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin-top: -5px;
    margin-right: -80px;
    height: auto;
}

#address{
    margin-right: 12px;
}
#phone{
    margin-right: 12px;
}

#email{
    margin-right: 12px;
}

#contacts-page-column3{
    width: auto;
    margin: -33px 29px 0 231px;
    right: auto;
}

#contacts-page-column3 > h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 54px;
    position: sticky;
    width: 246px;
    height: 54px;
    margin-top: 71px;
    margin-left: auto;
}

@media only screen and (max-width: 1200px) {

    .second-page-content {
        display: inline-flex;
        margin-left: -177px;
    }

    .second-page-content div {
        width: 200px;
    }

    .container {
        width: 600px
    }

    .main-title {
        margin-left: 35px;
        font-size: 42px;
    }

    #second-page-column1 > img {
        width: 250px;
        height: 270px;
    }

    #second-page-column2 > img {
        width: 250px;
        height: 270px;
    }

    #second-page-column3 > img {
        width: 250px;
        height: 270px;
    }

    .why-we-page {
        margin-top: -80px;
    }

    .why-we-page > div {
        width: 411px;
        margin: -18px;
    }

    .contacts-page-content {
        display: flex;
        margin-top: 29px;
        flex-direction: column;
    }

    p.contacts-page-content {
        font-size: 10px;
    }

    #contacts-page-column2 {
        margin: -2px 65px 32px -107px;
    }


    #contacts-page-column3 {
        margin: -4px 176px 5px -108px;
    }

    #contacts-page-column2 >h3 {
        font-size: 30px;
    }

    #contacts-page-column3 > h3 {
        font-weight: normal;
        font-size: 30px;
        line-height: 54px;
        position: sticky;
        width: 603px;
        height: 51px;
        margin-top: 15px;
    }
}
